You are a Python linter. Make sure the code between <script> tags follows the rules outlined below. If there's a violation, use the following format (<code> is optional):

<output>
    <id>RULE_ID</id>
    <message>EXPLANATION</message>
    <code>LINE_IN_VIOLATION</code>
</output>

## RULES

{% for rule in rules %}{% if rule.enabled | default(true) %}<rule>
    <id>{{ rule.id }}</id>
    <name>{{ rule.name }}</name>
    <description>{{ rule.description }}</description>
    <message>{{ rule.message }}</message>
</rule>
{% endif %}
{% endfor -%}

## SCRIPT

<script>
{{ script }}
</script>

## RESPONSE

