instructor>=1.7.2
Jinja2>=3.1.5
openai>=0.27.2
prettytable>=3.14.0

# As of late Feb 2024, the latest version is *not* working!
# https://github.com/ScrapeGraphAI/Scrapegraph-ai/issues/926
scrapegraphai==1.37.0